.Visit {
    height: 30vh;
    width:auto;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.Visit>h1 {
    display: block;
    width: fit-content;
    margin: 10px;
}

.Visit>.Buttons {
    display: grid-inline;
    margin: 10px;
    width: fit-content;
    grid-template-columns: auto auto;
}